**pandas Replace()**

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('E:\my\pokemon_data.csv')
data

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [6]:
h=data.head(5)
h

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [7]:
h.replace(to_replace='Grass',value='demo')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,demo,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,demo,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,demo,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,demo,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [8]:
h.replace([1,2,3,4],0)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,0,False
1,0,Ivysaur,Grass,Poison,60,62,63,80,80,60,0,False
2,0,Venusaur,Grass,Poison,80,82,83,100,100,80,0,False
3,0,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,0,False
4,0,Charmander,Fire,NaN,39,52,43,60,50,65,0,False

In [13]:
h.replace(to_replace=0,value=[1,2,3,4,5])

TypeError: Invalid "to_replace" type: 'int'

In [14]:
h

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [15]:
h.replace([1,2,3,3,4],[10,11,12,13,14])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,10,Bulbasaur,Grass,Poison,45,49,49,65,65,45,10,False
1,11,Ivysaur,Grass,Poison,60,62,63,80,80,60,10,False
2,13,Venusaur,Grass,Poison,80,82,83,100,100,80,10,False
3,13,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,10,False
4,14,Charmander,Fire,NaN,39,52,43,60,50,65,10,False

In [17]:
h.drop_duplicates(subset='#', keep='first')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [22]:
h.rename(columns={'Name':'Names'})

TypeError: 'dict' object is not callable

In [24]:
h.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [26]:
h['#']=h['#'].astype(int)

<ipython-input-26-5ef4af77ea06>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  h['#']=h['#'].astype(int)

In [34]:
h.rename(columns={'Name':'ajay'},axis=1)

TypeError: 'dict' object is not callable